<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>The Classic Library</title>

  <meta name="description" content="A books eCommerce site.">
  <meta name="author" content="MagnusIskander">

  <link rel="stylesheet" href="/styles/normalize/normalize.css">
  <link rel="stylesheet" href="/styles/mfd.css">
  
</head>

<body>
  <!-- MAIN SITE / APPLICATION CONTENT... -->

  <!-- ===== MFD ===== -->

  <!-- <header>

    <a href="./">
      <h1 class="logo">the classic library</h1>
    </a>

    <nav>
      <ul class="menu-items">
        <li><a href="#">home</a></li>
        <li><a href="#">catalog</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </nav>

    <input type="checkbox" name="" id="">

    <div class="hamburger-lines">
      <span class="line line1">1</span>
      <span class="line line2">2</span>
      <span class="line line3">3</span>
    </div>

  </header> -->

  <%- include('./partials/header') -%>

  <main>

    <section id="catalog">
      
        <h2>About Us</h2>

        <p>Welcome to The Classic Library!</p>
        <p>At The Classic Library, we are passionate about the written word and dedicated to providing a haven for book lovers. With a rich collection of literary treasures and a commitment to exceptional service, we strive to create an immersive reading experience for all.</p>
        <p>Established with the vision of preserving the timeless beauty of literature, The Classic Library is a haven for bookworms, scholars, and casual readers alike. Our extensive collection boasts an array of genres, from celebrated classics to contemporary masterpieces, covering everything from fiction and non-fiction to poetry and philosophy.</p>
        <p>What sets us apart is our unwavering commitment to curating a selection that exemplifies literary excellence. Each book on our shelves has been meticulously chosen to offer both literary enrichment and immersive storytelling. Whether you're seeking a thought-provoking novel, a scholarly discourse, or a captivating tale, you'll find it within our hallowed walls.</p>
        <p>Our knowledgeable and passionate staff are always on hand to guide you through our collection, offering personalized recommendations and insightful discussions. We believe in the power of books to enlighten, entertain, and inspire, and our team is dedicated to sharing that magic with every visitor who walks through our doors.</p>
        <p>In addition to our exceptional collection, The Classic Library hosts a variety of literary events, such as author readings, book clubs, and workshops. These gatherings provide a unique opportunity to connect with fellow book enthusiasts, engage in stimulating conversations, and dive deeper into the world of literature.</p>
        <p>We invite you to explore The Classic Library and embark on a journey through the ages of literature. Whether you seek solace in the works of renowned authors or discover hidden gems waiting to be unearthed, our library is here to ignite your imagination and foster a lifelong love affair with the written word.</p>
        <p>Join us at The Classic Library, where every page holds a world of endless possibilities.</p>

  </main>

  <%- include('./partials/footer') -%>

  <!-- ===== /MFD ===== -->

</body>

</html>
