<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>The Classic Library</title>

  <meta name="description" content="A books eCommerce site.">
  <meta name="author" content="MagnusIskander">

  <link rel="stylesheet" href="/styles/normalize/normalize.css">
  <link rel="stylesheet" href="/styles/mfd.css">
  
</head>

<body>
  <!-- MAIN SITE / APPLICATION CONTENT... -->

  <!-- ===== MFD ===== -->

  <!-- <header>

    <a href="./">
      <h1 class="logo">the classic library</h1>
    </a>

    <nav>
      <ul class="menu-items">
        <li><a href="#">home</a></li>
        <li><a href="#">catalog</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </nav>

    <input type="checkbox" name="" id="">

    <div class="hamburger-lines">
      <span class="line line1">1</span>
      <span class="line line2">2</span>
      <span class="line line3">3</span>
    </div>

  </header> -->

<!--  -->

  <%- include('./partials/header') -%>

  <main>

    <section class="hero">

      <div class="hero-content">
        <h2>Welcome to your virtual bookstore</h2>
        <p>Discover a world of knowledge and literary adventures</p>
        <a href="/catalog" class="hero-button">Explore our catalog</a>
      </div>

    </section>

    <section id="catalog">
      <h2>Our Collection</h2>
      <p>Immerse yourself in our extensive selection of books from different genres and subjects. Whether you're looking
        for a captivating novel, an informative non-fiction book, or an inspiring collection of poetry, we have
        something for every avid reader.</p>
      <p>Our shelves are filled with the most outstanding works from renowned authors, as well as the newest and most
        promising literary gems. From timeless classics to the latest releases, our bookstore is the ideal place to find
        your next favorite read.</p>
      <p>In addition, we take pride in offering a carefully curated selection of books in various formats, including
        printed editions, audiobooks, and e-books. We want to ensure that you can enjoy your preferred stories in the
        way that suits you best, whether it's immersing yourself in the scent of printed pages or listening to a vivid
        narration while you scroll.</p>
      <p>In our bookstore, you'll also find a welcoming atmosphere and a passionate team of librarians ready to provide
        personalized recommendations and guidance in your literary quest. We are committed to fostering a love for
        reading and creating a community of book enthusiasts.</p>
      <a href="./contact" class="cta-button">Contact us</a>
    </section>

  </main>

  <%- include('./partials/footer') -%>

  <!-- ===== /MFD ===== -->

</body>

</html>
