  <footer>

    <div class="footer-content">

      <div class="sub-section">
        <h3>Contact Information</h3>
        <p>Address: Main Street, City, Country</p>
        <p>Phone: +123456789</p>
        <p>Email: info@tcl.com</p>
      </div>

      <div class="sub-section">
        <h3>Opening Hours</h3>
        <p>Monday - Friday: 9:00 am - 6:00 pm</p>
        <p>Saturdays: 10:00 am - 4:00 pm</p>
        <p>Sundays: Closed</p>
      </div>

      <div class="sub-section">
        <h3>Follow Us on Social Media</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>

    </div>

    <div class="footer-bottom">
      <p>&copy; 2023 TCL. ALEJANDRO OSORIO. All rights reserved.</p>
    </div>

  </footer>
