 <header class="top-nav">

    <a href="/" class="logo">
      <!-- <h1 class="logo">the classic library</h1> -->
      THE CLASSIC LIBRARY
    </a>

    <input id="menu-toggle" type="checkbox">

    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>

    <ul class="menu">
      
      <!-- <li class="menu-selected"><a href="/">Home</a></li> -->
      <li class=""><a href="/">Home</a></li>
      <li><a href="/catalog">Catalog</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>

    </ul>

  </header>
